<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-2 mb-4">Working papers</h3>
    
    <div class="col-md-8">
    Place-based redistribution: an application to school finance
    </div>

    <div class="col-md-8">
    The effect of public insurance design on pharmaceutical prices: evidence from Medicare Part D (with Katja Hofmann)
    </div>

    <div class="col-md-8">
    Florida pill mills and the U.S. heroin epidemic
    </div>

  </div>

  <div>
    <h3 class="fw-bold border-bottom pb-2 mb-4">Publications</h3>
      
      <div class="col-md-12">
      <a href="https://www.tandfonline.com/doi/abs/10.1080/19345747.2016.1258099">Promoting parents' social capital to increase children's attendance in Head Start: Evidence from an experimental intervention</a>
      <br>
      (with Teresa Sommer, Terri Sabol, Lindsay Chase-Lansdale, Mario Small, Henry Wilde, and Sean Brown)
      <br>
      <i>Journal of Research on Educational Effectiveness</i>. October 2017. 
      </div>

  </div>
</div>
