<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-2 mb-4">Teaching Assistant</h4>
      
      <div class="col-md-12">
      ECON 102A / ECON 102B: Applied Econometrics, Stanford University
      <br>
      <i>Spring 2024, Fall 2024</i>
      </div>

      <br>
        
      <div class="col-md-12">
      PUBPOL 303D: Applied Econometrics, Stanford University
      <br>
      <i>Winter 2024</i>
      </div>

      <br>

      <div class="col-md-12">
      ECON 51: Economic Analysis II, Stanford University (Outstanding TA Award)
      <br>
      <i>Fall 2023</i>
      </div>

      <br>
      
      <div class="col-md-12">
      FINC 937: Microfinance and Financial Inclusion, Kellogg School of Management
      <br>
      <i>Winter 2015</i>
      </div>

  </div>
</div>